<div class="overflow-hidden relative lg:py-16">
    <div class="w-full py-12 px-4 sm:px-6 lg:py-16 lg:px-8 z-0">
        <h2 class="text-gray-900 sm:text-4xl">
            <div class="block text-3xl font-bold ">
                About
            </div>
        </h2>
        <p class="text-md mt-4 text-gray-400 pb-4">
            I am a passionate UI/UX Designer with a keen eye for detail and a focus on delivering intuitive and visually appealing designs. With [number of years] of experience in the field, I specialize in creating engaging digital experiences that elevate brands and exceed user expectations. My design process is centered around collaboration and user-centered design principles, ensuring that each project is tailored to the needs and goals of the client and their users.        </p>
            <div class="bg-shaw-100 rounded-lg shadow-lg">
                <div class="text-start w-full mx-auto py-8 px-4 sm:px-4 lg:py-12 lg:px-6 z-0">
                    <div>
                        <div class="block text-gray-900 text-xl font-bold"> 
                            I am happy to know you that 300+ projects done sucessfully!
                        </div>
                        <div class="block text-gray-700 text-lg pt-4">
                            These projects range from small startups to large enterprises, and I have collaborated with clients from diverse industries. My goal is to create user-centered designs that not only meet the client's requirements but also enhance the overall user experience.
                        </div>
                    </div>
                    <div class="lg:mt-0 lg:flex-shrink-0">
                        <div class="mt-4 inline-flex rounded-md shadow">
                            <button type="button" class="py-2 px-4  bg-shaw-600 hover:bg-shaw-700 focus:ring-shaw-500 focus:ring-offset-shaw-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
                                Hire Me
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>