<div class="overflow-hidden relative lg:py-16">
    <div class="w-full py-12 px-4 sm:px-6 lg:py-16 lg:px-8 z-0">
        <h2 class="text-gray-900 sm:text-4xl">
            <div class="block text-3xl font-bold ">
                Experience
            </div>
        </h2>
        <p class="text-md mt-4 text-gray-400 pb-4">
            As a graphic designer, I have had the opportunity to work with a diverse range of clients and projects, including branding, print design, and digital design. With a strong foundation in design principles and software skills, I strive to create visually compelling designs that effectively communicate my clients' messages.
        </p>
      <div>
        <ol class="relative border-l border-shaw-200">
            {% for experience in experiences %}
                <li class="mb-10 ml-4">
                    <div class="absolute w-3 h-3 bg-shaw-200 rounded-full mt-1.5 -left-1.5 border border-white"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-400">{{ experience.start_date }}
                        {% if experience.is_current %}
                            <span class="ms-2 bg-shaw-200 text-shaw-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full">
                                Currently Working
                            </span>
                        {% else %}
                            {% if experience.end_date %}
                                - {{ experience.end_date }}
                            {% endif %}
                        {% endif %}
                    </time>
                    <h3 class="text-lg font-semibold text-gray-900">{{ experience.role }}, {{ experience.company }}</h3>
                    <p class="mb-4 text-base font-normal text-gray-500">{{ experience.about }}</p>
                    {% if experience.links %}
                        <a href="{{ experience.links }}" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-shaw-200 rounded-lg hover:bg-shaw-100 hover:text-shaw-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-shaw-200 focus:text-shaw-700 ">
                            Visit
                            <svg class="w-3 h-3 ml-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" 
                                    d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd">
                                </path>
                            </svg>
                        </a>
                    {% endif %}
                </li>
            {% endfor %}                 
        </ol>
      </div>  
        </div>
</div>