<div class="overflow-hidden relative lg:py-16">
    <div class="w-full py-12 px-4 sm:px-6 lg:py-16 lg:px-8 z-0">
        <h2 class="text-gray-900 sm:text-4xl">
            <div class="block text-3xl font-bold ">
                Project
            </div>
        </h2>
        <p class="text-md mt-4 text-gray-400 pb-4">
            As a graphic designer, I have had the opportunity to work with a diverse range of clients and projects, including branding, print design, and digital design. With a strong foundation in design principles and software skills, I strive to create visually compelling designs that effectively communicate my clients' messages.        </p>

        <div class="pt-4 flex flex-row flex-wrap justify-center items-center content-center">
            {% for i in project %}


            <div class="p-2"><div class="m-auto overflow-hidden rounded-lg shadow-lg cursor-pointer h-90 w-100 sm:w-60 md:w-80">
                <a href="#" class="block w-full h-full">
                    <img alt="blog photo" src="https://www.tailwind-kit.com/images/blog/1.jpg" class="object-cover w-full max-h-40"/>
                    <div class="w-full p-4 bg-white">
                        <!-- <p class="font-medium text-red-500 text-md">
                            Article
                        </p> -->
                        <p class="mb-2 text-xl font-medium text-amber-800">
                            E-commerce Website Redesign
                        </p>
                        <p class="font-light text-amber-400 text-md">
                            Redesigned the user interface and experience of an e-commerce website, resulting in a 40%...
                        </p>
                        <div class="flex flex-wrap items-center mt-4 justify-starts">
                            <div class="text-xs mr-2 py-1.5 px-4 text-amber-600 bg-amber-100 rounded-2xl mb-1">
                                #{{ i }}
                            </div>
                            <div class="text-xs mr-2 py-1.5 px-4 text-amber-600 bg-amber-100 rounded-2xl mb-1">
                                #Ecommerce
                            </div>
                            <div class="text-xs mr-2 py-1.5 px-4 text-amber-600 bg-amber-100 rounded-2xl mb-1">
                                #WebDesign
                            </div>
                        </div>
                    </div>
                </a>
            </div></div>


        {% endfor %}
    </div>  


            
        </div>
</div>