<div class="overflow-hidden relative lg:py-16">
    <div class="w-full py-12 px-4 sm:px-6 lg:py-16 lg:px-8 z-0">
        <h2 class="text-gray-900 sm:text-4xl">
            <div class="block text-3xl font-bold ">
                Skills
            </div>
        </h2>
        <p class="text-md mt-4 text-gray-400 pb-4">
            As a UI/UX designer, I possess a diverse range of skills that allow me to create visually appealing, 
            user-friendly interfaces. I am proficient in various design tools, including Adobe Creative Suite, Sketch, and Figma. 
            With a strong understanding of design principles and user-centered design, 
            I can create wireframes, prototypes, and high-fidelity designs. 
            I also have experience in user research, usability testing, and accessibility. 
            My skills in HTML, CSS, and JavaScript allow me to collaborate effectively with developers to ensure seamless 
            integration of designs.
        </p>

        <div class="mt-4">
            
        {% for skill in skills %}
            <div class="pb-4">
                <div class="flex justify-between mb-1">
                    <span class="text-base font-medium text-shaw-700">{{skill.name }}</span>
                    <span class="text-sm font-medium text-shaw-700">{{ skill.percentage }}%</span>
                </div>
                <div class="w-full bg-gray-200 rounded-full h-2.5">
                    {% if skill.percentage <= 100 %}
                        <div class="bg-shaw-600 h-2.5 rounded-full" style="width: {{ skill.percentage }}%"></div>
                    {% else %}
                        <div class="bg-shaw-600 h-2.5 rounded-full" style="width: 100%"></div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

  
        </div>
    </div>
</div>