{% extends "base.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}

<div class="flex lg:flex-row flex-col">
    <div class="bg-amber-200">
        <div class="lg:hidden block px-4 py-2">
            <div class="flex justify-between items-center flex-row">
                <div class="underline decoration-pink-500/30 text-2xl font-mono"> App Logo </div>
                <div>
                    <button class="px-2 py-1" onclick="toggleView()" id="button-view"></button>
                </div>
            </div>
            <div id="sm-nav-view" class="hidden">
                <div class="pt-4">
                    <ul>
                        {% for link in links %}
                        <li class="pb-2 text-lg">
                            <a class="underline decoration-blue-500/30" href={% url link.url %}>{{ link.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="hidden lg:block w-64 h-screen p-4">
            <div class="underline decoration-pink-500/30 text-2xl font-mono"> App Logo </div>
            <div class="pt-4">
                <ul>
                    {% for link in links %}
                    <li class="pb-2 text-lg">
                        <a class="underline decoration-blue-500/30" href={% url link.url %}>{{ link.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="p-4 lg:px-8 lg:py-4">
        {{ request.path }}
    </div>
</div>
  
{% endblock %}